<div class="container form_container">
  <div class="row form_row">
    <div class="col-1"></div>
    <div class="col-8 form_title">
      <h1>Formulario de contacto</h1>
    </div>
  </div>
  <div class="row form_row">
    <div class="col-1 form_col_label">
      <label for="">Nombre</label>
    </div>
    <div class="col-8 form_col">
      <input type="text" placeholder="Nombre y apellido">
      <p>Introduzca su nombre y apellido</p>
    </div>
  </div>
  <div class="row form_row">
    <div class="col-1 form_col_label">
      <label for="">Email</label>
    </div>
    <div class="col-8 form_col">
      <input type="text" placeholder="ejemplo@dominio.com">
      <p>Introduzca un email válido</p>
    </div>
  </div>
  <div class="row form_row">
    <div class="col-1 form_col_label">
      <label for="">Mensaje</label>
    </div>
    <div class="col-8 form_col">
      <textarea></textarea>
      <p>Introduzca un mensaje</p>
    </div>
  </div>
  <div class="row form_row">
    <div class="col-1 form_col_label">
      <label for="">2 + 3 = ?</label>
    </div>
    <div class="col-8 form_col">
      <input type="text" placeholder="Respuesta">
      <p>Validación anti-spam incorrecta</p>
      <button (click)="newContact()" class="btn btn-primary mt-4">Enviar</button>
    </div>
  </div>
</div>